.cont-bg{
    background-image: url(/public/images/contact/section\ 1.jpg);
}
.btn-clr1{
    height:55px !important;
    width: 55px !important;
    border-radius: 50%;
    background: #ec3e3e!important;   
    margin-left: 4rem !important;
}
.fs9{
    font-size: 18px !important;
    color: #454343;
}
.map{
    color: #1F27F4;
}
.app{
    background-image: url(/public/images/contact/section2.jpg);
}