.port-bg{
    background-image: url(/public/images/port/Portfolio.jpg);
}
.imag{
    .btn{
        border-radius: 0px !important;
        font-size: 18px !important;
        letter-spacing: 1px !important;
    }
}
